<h3>Filtros</h3>
<hr/>
<%= form_tag filtrar_processos_path, class: "form-inline", role: "form" do |f| %>
  <div class="form-group">
    <%= text_field_tag :processo, params[:term], id: "processos-search", placeholder: "tipo de processo", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= text_field_tag :usuario, params[:term], id: "usuarios-search", placeholder: "usuário", class: "form-control" %>
  </div>
  <%= hidden_field_tag :situacao, @title %>
  <%= button_tag "Pesquisar", class: "btn btn-primary" %>
<% end %>
<%= render partial: "processos", locals: { title: @title, processos: @processos } %>
