<div id="refresh">
  <div id="infos-processo">
    <div class="row">
      <div class="col-md-12">
        <h3>Informações do Processo</h3>
        <hr/>
        <br/>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Informações Gerais</div>
      <center>
        <h3><%= @processo.nome %></h3>
      </center>

      <ul class="list-group">
        <li class="list-group-item">
          <strong>Id:</strong>
          <span><%= @processo.id %></span>
        </li>
        <% if not @processo.usuario.nome.blank? %>
          <li class="list-group-item">
            <strong>Usuário:</strong>
            <span><%= @processo.usuario.nome %></span>
          </li>
        <% end %>
        <% if not @processo.grupo.blank? %>
          <li class="list-group-item">
            <strong>Grupo:</strong>
            <span><%= @processo.grupo unless @processo.grupo.blank? %></span>
          </li>
        <% end %>
        <% if not @processo.hora_inicio.blank? %>
          <li class="list-group-item">
            <strong>Início:</strong>
            <span><%= @processo.hora_inicio.strftime('%d/%m/%Y %H:%M:%S') %></span>
          </li>
        <% end %>
        <% if not @processo.hora_termino.blank? %>
          <li class="list-group-item">
            <strong>Final:</strong>
            <span><%= @processo.hora_termino.strftime('%d/%m/%Y %H:%M:%S') %></span>
          </li>
        <% end %>
        <% if not @processo.situacao.blank? %>
          <li class="list-group-item">
            <strong>Situação:</strong>
            <span><%= @processo.situacao.descricao %></span>
          </li>
        <% end %>
        <% if not @processo.parametros.blank? %>
          <li class="list-group-item">
            <strong>Parâmetros:</strong>
            <ul>
              <% @processo.parametros.each do |parametro| %>
                <li><span><strong><%= "#{parametro.nome}" %></strong><%= " = #{parametro.valor}" %></span></li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <li class="list-group-item">
          <strong>Progresso:</strong>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="<%= @percentual %>" aria-valuemin="0" aria-valuemax="100" style='<%= "width: #{@percentual}%;" %>'>
              <%= @percentual %>%
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <span><%= link_to "Reiniciar", "#", class: "btn btn-primary" if @processo.concluido? %></span>
          <span><%= link_to "Cancelar Processo", processo_path(@processo.id), method: :delete, class: "btn btn-danger", data: {confirm: "Você tem certeza que deseja parar o processo?"} unless @processo.parado? %></span>
          <span><%= link_to "Voltar", root_path, class: "btn btn-default" %></span>
        </li>
      </ul>
    </div>
    <% if @processo.em_processamento? %>
      <div class="panel panel-default">
        <div class="panel-heading">Log de Execução</div>
        <ul class="list-group">
          <li class="list-group-item">
            <%= simple_format log_processo(@processo) %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
