<!DOCTYPE html>
<html>
<head>
  <title>GsanBatchManager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Novo Gsan Batch</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Processos</a></li>
          <li><a href="#">Logs</a></li>
          <li><a href="#">Configurações</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <h3>Processos</h3>
        <hr/>
        <ul class="nav nav-sidebar">
          <% @situacoes.each do |situacao| %>
            <li class=<%= active?(situacao, @title) %>><%= link_to situacao.capitalize, root_path(situacao: situacao) %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
