<!DOCTYPE html>
<html>
<head>
  <title>GsanBatchManager</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "logo_cosanpa_rel.gif", width: 75 %>
          GSAN - Gerenciador de Processos
        <% end %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to root_path, class: "navbar-btn navbar-right" do %>
            <span class="glyphicon glyphicon-list"></span>
            <span class="glyphicon-class">Consulta de Processos</span>
          <% end %>
        </li>
        <li>
          <%= link_to new_processo_path, class: "navbar-btn navbar-right" do %>
            <span class="glyphicon glyphicon-plus"></span>
            <span class="glyphicon-class">Inserir Processo</span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_processos_path, class: "navbar-btn navbar-right" do %>
            <span class="glyphicon glyphicon-cog"></span>
            <span class="glyphicon-class">Configurações</span>
          <% end %>
        </li>
        <li>
          <% if not session[:usuario].nil? %>
            <%= link_to logout_path, class: "navbar-btn navbar-right" do %>
              <span class="glyphicon glyphicon-off"></span>
              <span class="glyphicon-class">Sair</span>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <%= render partial: "shared/flash_messages", flash: flash %>
    <%= yield %>
  </div>
  <div class="footer">
    <div class="container">
      <p class="text-muted">COSANPA - Companhia de Saneamento do Pará.</p>
    </div>
  </div>
  <script type="text/javascript">
    $('.datetimepicker').datetimepicker({
      language: 'pt-BR'
    });

    setInterval("setTimeout();", 5000);
    function setTimeout(){
      $('#refresh').load(location.href + ' #infos-processo');
    }

    $(document).ready(function(){
      $("#processos-search").autocomplete({source: '/pesquisar/processos.json'})
      $("#novo-processo-search").autocomplete({source: '/pesquisar/processos.json'})
      $("#usuarios-search").autocomplete({source: '/pesquisar/usuarios.json'})
    });
  </script>
</body>
</html>
